<p id="notice"><%= notice %></p>

<p>
  <strong>Directory:</strong>
  <%= @log_file_utility.directory %>
</p>

<%= link_to 'Edit', edit_log_file_utility_path(@log_file_utility) %> |
<%= link_to 'Back', log_file_utilities_path %>
