<h1>Log File Updater</h1>
<p>This utility parses the input directory</p>


<% form_tag :action => 'cleanseDirectory' do %>
    <%= text_field_tag :directory %>
    <%= submit_tag "Process" %>
<% end %>
